doctype html
html(lang="en")
	head
		link(rel="stylesheet", href="css/bootstrap.min.css")
		title RPJS | Bootstrap example
	body
		.container-fluid
			.row-fluid
				.span12
					.row-fluid
						.span12
							.hero-unit
								h1 Welcome to Super Simple Backbone Starter Kit
								p
									| This is your home page. To edit it just modify 
									i index.html 
									| file!
								p
									a.btn.btn-primary.btn-large(
										href="http://twitter.github.com/bootstrap",
										target="_blank"
										)


