doctype html
html(lang='en')
	head
		title RPJS : Backbone demo
		script(src="http://code.jquery.com/jquery-1.9.0.js")
		script(src="js/underscore.js")
		script(src="js/backbone.js")
		script(src="js/apple-item.view.js")
		script(src="js/apple-home.view.js")
		script(src="js/apple.view.js")
		script(src="js/apples.js")
		script(src="js/apple-app.js")
	body